

.axis--x path {
    display: none;
}

.navbar-inverse .navbar-brand{

    color: white;
}

.navbar-inverse .navbar-nav > li > a{

    color: #bdbdbd;
}


.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#map{
    margin-top: 10px;
    margin-left: 20px;
}

.pcControl{
    margin-left: 20px;
    height: 20px;
    text-align: center;

}

.title{
    font-size: medium;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pclabel{
    margin-left: 20px;
    margin-top: 55px;

}
.node {
    box-sizing: border-box;
    line-height: 1em;
    overflow: hidden;
    position: absolute;
    white-space: pre;
    background: #ddd;
    margin-top: 40px;
}

.node-label,
.node-value {
    margin: 4px;
    font-size: 8px;
}

.node-value {
    margin-top: -2px;
}

.node-value {
    font-weight: bold;
}

div#tooltip {
    width: 140px;
    height: 80px;
    padding-left:10px;
    padding-top: 8px;
    font: 12px sans-serif;
    font-family: "Trebuchet MS";
    background: #525252;
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;

}

.interface{
    margin-top: 80px;
}